__pycache__/
.idea/
.pyc
.vscode/

# project-specific
datasets/
*.pstats
*.pth
*.ckpt
*.tar
*.png
wandb/
data/
log/
other_model_attempts/
dataset/
weights/
first-order-model/sup-mat/
first-order-model/logs/
first-order-model/.ipynb_checkpoints