__pycache__/
.idea/
.pyc
.vscode/

# project-specific
datasets/
*.pstats
*.pth
*.ckpt
*.tar
*.mp4
*.png
results/
wandb/
data/
log/
other-model-attempts/
dataset/
weights/
first-order-model/sup-mat/
first-order-model/logs/
first-order-model/.ipynb_checkpoints